{% extends 'base.html' %}

{% block title %}
Обсуждение
{% endblock %}

{% block content %}
        <div class="container">
            <label for="uname" style="margin-top:1%; font-size:30px; color:white;"><b>Имя пользователя:</b></label>
            <input type="text" placeholder="Введите имя пользователя" name="uname" required>
            <label for="txt" style="margin-top:1%; font-size:30px; color:white;"><b>Комментарий:</b></label>
            <input type="text" placeholder="Введите текст" name="txt" required>
            <button type="submit">Отправить</button>
        </div>
{% endblock %}